.body{
      height: 800px;
      width: 1600px;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family:Open Sans ;
}
.cont-servicios{
     
      
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      font-weight: bold;
}
.cont-p{
      height: 50px;
      
      display: flex;
      align-items: center;
      justify-content: center;
      color: gray;
}
.cont-card{
     
      height: 600px;
      width: 1600px;
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: center;
      
}
.section1{
   
      display: flex;
      justify-content: space-between;
      height: 300px;
      width: 1000px;
      align-items: center;


}
.not-card{
      
      height: 200px;
      width: 800px;
      display: flex;
      flex-direction: column;
      align-items:start;
      justify-content: center;
      
      
}
.pgris{
      color: gray;
}
.pnegra{
      font-weight: bold;
      font-size: 20px;
}
.lupa{
      background-color: #4b45e7;
      font-size: 30px;
}
@media (max-width:768px){
      .body{
            display: flex;
            flex-direction: column;
            width: 100%;
            left: 0;
           align-items: start;
}
.cont-card{
      display: flex;
      align-items: start;
      left: 0;
}
.section1{
      display: flex;
      flex-direction: column;
      display: block;
      padding: 25px;
      

}

.lupa{
      margin: 20px;
      display: block;
}
}